*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	height: 100vh;
	font-family: sans-serif;
}

header
{
	background-color: #303030;
	height: 50px;
	grid-column: 2/3;
	justify-content: space-between;
	display: flex;
	color: white;
	padding: 0 5px;
    margin: 0 100px;
}
header > h3
{
	line-height: 50px;
	margin-left: 20px;
}
nav
{
	display: flex;
	width:  600px;
	justify-content: space-evenly;
}
nav > a
{
	display: block;
	text-decoration: none;
	color:  white;	flex:  1;
	line-height: 50px;
	padding: 0 20px;
}
form
{
	width:  300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form > h2
{
	text-align: center;

}
form input
{
	padding:  5px;
	font-size:  17px;
	border-radius:  3px;
	border: 1px solid black;
	outline: 1px solid black;
}
form > div.tombol
{
	display: flex;
	justify-content: space-between;
}
div.tombol > input
{
	outline:  none;
	border:  none;
	background-color: #6aa84f;
	padding:  5px 20px;
	border:  2px solid #6aa84f;
}
div.tombol > a
{
	display: block;
	color: #6aa84f;
	text-decoration: none;
	border:  2px solid #6aa84f;
	padding:  5px 20px;
	border-radius:  3px;
}
form > samp
{
	color: red;
	margin-top: 10px;
}
div.container
{
	width:  100%;
	display: flex;
	justify-content: space-between;
}
div.container > input
{
	width:  40%;
}